<template name="login">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name text-center" style="margin-bottom: -19px;">
                    <img src="/img/cryptostake/logo.png" style="width: 100%;">
                </h1>

            </div>
            <form role="form" action="/dashboard1">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            </form>
        </div>
    </div>
</template>